
<div class="notification-heading hidden-xs" style="background-color:lightblue;">
	<h4>Notifications</h4>
	<!-- <h4 class="pull-right">View all<i class="glyphicon glyphicon-circle-arrow-right"></i></h4> -->
</div>
<div class="notifications-wrapper">
	<% if current_user.notifications_received.any? %>
		<% current_user.notifications_received.order("created_at desc").each do |n| %>
			<div class="content">
				<%= link_to n.get_object_ref, class: "notification-item #{n.notified ? 'notification-read' : ''}" do %>
					<h4 class="notification-message"><%= n.get_message %></h4>
					<div class="notification-time"><%= get_date(n.created_at) %></div>
				<% end %>
			</div>
		<% end %>
	<% else %>
			<div class="content">
				<%= link_to n.get_object_ref, class: "notification-item #{n.notified ? 'notification-read' : ''}" do %>
					<h4 class="notification-message">No notifcations at this time</h4>
				<% end %>
			</div>
	<% end %>
</div>
