<div class="center hero-unit" style="text-align: center;">
	<div class="jumbotron">
	  	<h1 style="margin-top:0;">About Pick-up Tennis</h1>

	  	<div style="margin: 10px 80px; text-align: left;">
		  	<p>It is arguable that tennis is the greatest game ever played. Not only is it challenging physically, but it is also emotionally and mentally challenging. Overcoming these challenges is what makes the game lastingly entertaining.</p>

			<p>There is one downfall to the sport, however. That is, finding new opponents. You may have your close buddies to rely on, but some of the times, they aren't able or willing to play. On top of that, if you are serious about improving your skills, you will need new opponents who have different playing styles. The more variety you have from your opponents, the more adaptable you will become.</p>

			<p>Pickup-Tennis helps you overcome this downfall by opening you up to a network of tennis players. By finding others near you with a similar skill level, you will never run out of new opponents. In addition, the app is free! All you need to do is create an account, specify your playing level, and voila! A list of local players is at your finger tips. You can now invite others to play, start up a tournament, and build up your account's point system by continually improving your skills and winning your opponents.</p>
		</div>

        <p>
        	<%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg", role: :button %>
        </p>
	</div>
</div>
