<!DOCTYPE html>
<html>
<head>
  <title>TennisApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body style="background-color:#e7e7e7;">
		<nav class="navbar navbar-default" role="navigation" style="-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);margin:0">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Pickup-Tennis</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <form class="navbar-form navbar-right" role="search">
		        <a class="btn btn-default" role="button" href="login.html">Log in</a>
		        <a class="btn btn-default" role="button" href="register.html">Register</a>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div id="container-fluid" style="max-width:900px;background-color:#e7e7e7;min-height:1000px;margin:auto;">
		  	<div class="center hero-unit" style="text-align: center;">
			  	<div class="jumbotron">
				  	<h1 style="margin-top:0;">Welcome to Pick-up Tennis</h1>

				  	<div style="margin: 10px 80px; text-align: left;">
					  	<p>It is arguable that tennis is the greatest game ever played. Not only is it challenging physically, but it is also emotionally and mentally challenging. Overcoming these challenges is what makes the game lastingly entertaining.</p>

						<p>There is one downfall to the sport, however. That is, finding new opponents. You may have your close buddies to rely on, but some of the times, they aren't able or willing to play. On top of that, if you are serious about improving your skills, you will need new opponents who have different playing styles. The more variety you have from your opponents, the more adaptable you will become.</p>

						<p>Pickup-Tennis helps you overcome this downfall by opening you up to a network of tennis players. By finding others near you with a similar skill level, you will never run out of new opponents. In addition, the app is free! All you need to do is create an account, specify your playing level, and voila! A list of local players near you is at your finger tips. You can now invite others to play, start up a tournament, and build up your account's point system by continually improving your skills and winning your opponents.</p>
					</div>
				  	<p><a class="btn btn-primary btn-lg" href="register.html" role="button">Sign up now!</a></p>
				</div>
		  </div>
		</div>
	</body>
</html>
