<div class="center hero-unit" style="text-align: center;">
	<div class="jumbotron">
	  	<h1 style="margin-top:0;">Welcome to Pick-up Tennis</h1>
        <p>
        	<%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg", role: :button %>
        </p>
	</div>
</div>
