@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

.user-gravatar {
  margin-top: 20px;
  h1 {
    font-size: 1.4em;
    letter-spacing: -1px;
    margin:3px 0 0 0;
  }
}

.user-info{
  margin-top:15px;
  max-width:300px;
}

.gravatar {
  //default value
}

.gravatar-edit {
  margin-top: 15px;
  text-align: center;
}

.gravatar-match{
  img {
    max-width: 150px;
    width:100%;
  }
  h1 {
    font-size: 16px;
    letter-spacing: -1px;
    margin:3px 0 0 0;
    font-weight: normal;
  }
}

.match-versus{
  border-top:1px solid gray; 
  border-bottom:1px solid gray;
}

.no-padding{
  padding:0;
}

.key-value-group{
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color:rgb(221, 221, 221);
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  .key-value-row:not(:last-child){
    border-bottom: 1px solid rgb(221, 221, 221);
  }
  .key-value-row{
    display: table-row;
    .key-value-item{
      display: table-cell;
      padding: 10px 15px;
    }
    .key-value-item:first-child{
      color: #31708f;
      background-color: #d9edf7;
      font-weight:bold;
    }
    .key-value-item:not(:last-child){
      border-right: 1px solid rgb(221, 221, 221);
    }
    @extend .row;
    margin:0;
  }
}

/* forms */

input[type="text"], input[type="password"], textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  @include box_sizing;
}

form{
  div.row
  {
    margin: 0 10px 15px 10px;
  }
  .btn{
    width:100%;
  }
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* miscellaneous */

.notification-badge {
  @extend .badge;
  background-color:$brand-danger;
  position:relative;top:-2px;
  &:hover{
    background-color:#f88;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.glyphicon-question-sign{
  cursor: pointer;
}

.pagination-wrapper{
  text-align: center;
  margin-bottom: 10px;
}

.pagination{
  margin:0;
  padding:0;
}

.table-hover tbody tr:hover > td {
  cursor: pointer
}

.table th .asc + span{
  @extend .glyphicon;
  @extend .glyphicon-chevron-up;
}

.table th .desc + span{
  @extend .glyphicon;
  @extend .glyphicon-chevron-down;
}
@media (max-width: $screen-xs-max) {
  .text-center-xs{
    text-align: center !important;
  }
  .center-block-xs{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ul.pagination{
    li:not(.prev):not(.next) a{
      width:30px;
      text-aligh:center;
      padding-right: 0px;
      padding-left: 0px;
    }
    li.disabled:not(.prev):not(.next) a{
      width:auto;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

/* date and time picker customization */
.icon-chevron-up{
  @extend .glyphicon;
  @extend .glyphicon-chevron-up;
}

.icon-chevron-down{
  @extend .glyphicon;
  @extend .glyphicon-chevron-down; 
}

.date-picker{
  cursor: default;
}


/* grid extensions */
.row-trim{
  margin-left:-5px !important;
  margin-right:-5px !important;
  @extend .row;
}

.col-xs-padding{
  @extend .col-xs-12;
  @extend .visible-xs-block;
  height:15px;
  margin:0;
  padding:0;
}





