<li class="dropdown">
	<%= link_to "Notifications <span class='caret'></span>".html_safe, {controller: "static_pages", action: "get_notifications", remote: true}, {id:"notifications-tab", class:"dropdown-toggle", data: {toggle: "dropdown"}, role: "button", aria: {expanded: "false"}} %>
	<ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
		<div id="notifications-dropdown">
			<div class="notification-loading">
				<%= image_tag "ajax-loader.gif" %>
				<div>
					Loading...
				</div>
			</div>
		</div>
	</ul>
</li>